@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Roboto+Slab&family=Roboto:wght@100&family=Varela+Round&display=swap');
*,
*::after,
*::before{
margin: 0;
padding: 0;
box-sizing: border-box;
}
::-webkit-scrollbar{
    display: none;
}
.contact{
    font-weight: 600;
    font-size: 20px;
}

body{
    margin: 0;
    padding: 0;
}
:is(body){
 font-family: 'DM Serif Display', serif;
 
}
/* home */
.nav-item{
    padding: 2px;
    
}
#align-f{
    
    margin-top: auto;
    text-align: center;
    padding: 10px 0;
}
.nav-item:hover{

    color: rgb(0, 229, 255);
    text-decoration: underline white;
}
.navbar-nav{
    font-weight: bolder;
    font-size: larger;
}
#te{
    font-size: 75px;
    text-align: center


}
.animation{
    width: 50%;
    height: 100vh;
    background-image: url("https://i.postimg.cc/0y0DY5NV/pngtree-antique-clock-face-without-hands-retro-png-image-10092194.png");
    background-repeat: no-repeat;
    animation:  rotateAnimation 10s infinite linear;
}
@keyframes rotateAnimation{
   0%{
    transform: rotate(0deg) 
   }
   100%{
transform: rotate(360deg)
   }
/*About*/

}
.paragraph{
    font-weight: bold;
    font-size: 25px
}
#searchQ{
    width: 250px;
    justify-content: space-between;
    display: grid;
}
.card{
    width: 300px;
    height: auto
}
/*add to cart*/

.checkout{
    width: 250px;
}
footer{
    padding-top: 20px;
    padding-bottom: 75px;
}
/*checkout*/
h4{
    text-decoration: underline;
}
/*image admin page*/
#newImage{
    width: 10rem;
    height: 10rem;
}
label{
    justify-items: end;
}
.bi-facebook, .bi-linkedin:hover{
color: blue;
}
.bi-instagram:hover{
    color: rgb(255, 0, 85);
}
.card{
    width: 18rem;
}
@media (300px<= width<=900px){
    .animation{
        width: 30%;
        margin-left: 20%;
    }
#product{
    display:grid;
    grid-template-rows: auto;
}
/* products */
#product{
    flex-direction: column;
}
}